<!-- files_explorer_container -->
<div data-id="files_explorer_container" class="w3-row unselect-text">
    <div class="w3-col l12 w3-padding">
        <!-- modal -->
        <div data-id="files-modal" class="w3-modal" style="padding-top: 50px;" data-modal-container>
            <div class="w3-modal-content" style="display: table; width: auto">
                <div class="w3-container" style="min-height: 40px; padding: 0">
                    <span class="modal-close" data-modal-close>&times;</span>
                    <div data-id="files-modal-content">
                        <!-- dynamic content -->
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->

        <!-- files_bar_buttons-->
        <nav data-id="files_bar_buttons" style="text-align: right">
            <div class="circle-loader" style="float: left" data-id="destination"></div>

            <img data-id="btnUpLevelDirectory" class="icon-btn" title="Escalar directorio" 
                 data-src="./external_libs/svg/level-up-alt.svg"/>
            <img data-id="btnAddFolder" class="icon-btn" title="Nueva carpeta" 
                 data-src="./external_libs/svg/folder-plus.svg"/>
            <img data-id="btnUploadFile" class="icon-btn"  title="Subir archivo" 
                 data-src="./external_libs/svg/file-upload.svg"/>
            <img data-id="btnPaste" class="icon-btn" data-class-enabled="w3-border-blue" 
                 title="Pegar" data-src="./external_libs/svg/paste.svg"/>
            <!--            <div style="width: 15px; display: inline-block;"></div>
                        <img id="btnMoreOptions" class="icon-btn" title="Mas opciones" 
                             src="./external_libs/svg/ellipsis-v.svg"/>-->
        </nav>
        <!-- /files_bar_buttons -->

        <!-- files_breadcrumb_content -->
        <nav data-id="files_breadcrumb_content" aria-label="breadcrumb" style="margin-top:10px">
            <ul class="w3-breadcrumb w3-border w3-round" style="padding: 5px 10px;">
                <li>
                    <a href="#"> 
                        <img title="home" style="width: 26px; height: 26px; cursor:pointer;" 
                             data-src="./external_libs/svg/home.svg"/>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /files_breadcrumb_content -->

        <!-- files_display_content -->
        <div data-id="files_display_content" style="max-height: 500px; overflow-y: auto; overflow-x: hidden" class="w3-border w3-round">
            <table class="w3-table-all w3-small">
                <thead>
                    <tr class="w3-light-blue"> 
                        <th style="text-align: center; width: 50px;">&nbsp;</th>
                        <th style="text-align: left;">Filename</th>
                        <th style="text-align: center; width: 80px;">Size</th>
                        <th style="text-align: center; width: 190px;">Operations</th>
                    </tr>
                    <tr style="display: none;"> 
                        <th colspan="4">No se encontraron archivos</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- dynamic content -->
                </tbody>
            </table>
        </div>
        <!-- /files_display_content -->
    </div>
</div>
<!-- /files_explorer_container -->

<template id="template_row">
    <tr class="w3-hover-light-blue">
        <td style="width: 80px; text-align: center;">
            <img class="icon-file-type" />
        </td>
        <td style="vertical-align: bottom"></td>
        <td style="vertical-align: bottom; text-align: right;"></td>
        <td style="text-align: right;">
            <img name="download" title="Descargar" data-src="./external_libs/svg/download.svg" 
                 class="icon-btn"/>
            <img name="move" title="Mover" data-src="./external_libs/svg/cut.svg" 
                 class="icon-btn"/>
            <img name="shared" title="Copiar enlace" data-src="./external_libs/svg/link.svg" 
                 class="icon-btn"/>
            <img name="edit" title="Renombrar" data-src="./external_libs/svg/edit.svg" 
                 class="icon-btn"/>
            <img name="delete" title="Borrar" data-src="./external_libs/svg/trash-alt.svg" 
                 class="icon-btn"/>
        </td>
    </tr>
</template>

<template id="template_alert">
    <!-- set dynamic class from _setAlert method --> 
    <!-- w3-container & danger=w3-pale-red || warning=w3-pale-yellow || success=w3-pale-green-->
    <div data-alert-container style="width: 100%">
        <h5 data-alert-title></h5>
        <div data-alert-content class="w3-margin">
            <!-- dynamic content -->
        </div>
    </div>
</template>

<template id="template_form_add_folder">
    <div class="w3-card-4" style="width: 400px">
        <div class="w3-container w3-light-grey ">
            <h5>Crear carpeta</h5>
        </div>
        <div class="w3-container w3-padding">
            <form data-id="form_add_folder">
                <label>Nombre</label>
                <input type="text" class="w3-input w3-border w3-round w3-small" name="name" value="" placeholder="" autocomplete="off">
                <button class="w3-button w3-white w3-border w3-round w3-margin-top">Crear
                    <img class="icon-btn-row" style="width: 14px; height: 14px;" data-src="./external_libs/svg/paper-plane.svg"/>
                </button>
            </form>
        </div>
    </div>
</template>

<template id="template_form_upload">
    <div class="w3-card-4" style="width: 400px">
        <div class="w3-container w3-light-grey ">
            <h5>Subir archivo</h5>
        </div>
        <div class="w3-container w3-padding">
            <form data-id="form_upload_files" enctype="multipart/form-data" accept-charset="UTF-8">

                <div class="custom-input-file">
                    <label class="item icon-btn btn-custom" >
                        Seleccionar
                        <input name="files[]" style="display: none" multiple="multiple" type="file" />
                    </label>
                    <div data-out class="item truncate" style="width: 100%"></div>
                </div>





                <button type="submit" class="w3-button w3-white w3-border w3-round w3-margin-top">Subir
                    <img class="icon-btn-row" style="width: 14px; height: 14px;" data-src="./external_libs/svg/paper-plane.svg"/>
                </button>
            </form>
        </div>
    </div>
</template>

<template id="template_form_rename_file">
    <div class="w3-card-4" style="width: 400px">
        <div class="w3-container w3-light-grey">
            <h5>Renombrar</h5>
        </div>
        <div class="w3-container w3-padding">
            <form data-id="form_rename_file">
                <label>Nuevo nombre</label>
                <input type="text" class="w3-input w3-border w3-round w3-small" name="newname" value="" placeholder="" autocomplete="off">
                <button type="button" class="w3-button w3-white w3-border w3-round w3-margin-top" name="send">Aceptar</button>
            </form>
        </div>
    </div>
</template>